
* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

a {
    color: black;
    text-decoration: none;
}

a:hover:not(#cart) {
    color: rgb(203, 121, 13);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav img {
    height: 25px;
}

#cuenta-premios {
    border-radius: 100%;
    display: inline-block;
    width: 20px;
}

.title-ins {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    text-align: center;
}

h2 {
    padding: 24px;
    text-align: center;
}

.liga {
    margin-top: 64px;
    margin-bottom: 16px;
}

header {
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 4%, rgba(0, 212, 255, 1) 100%);
    color: white;
    padding: 24px;
}

.footer {
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 4%, rgba(0, 212, 255, 1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    text-align: end;
    font-size: 12px;
}

main {
    padding: 32px;
}

table {
    margin: 0 auto; 
    width: 50%;
    border: 2px rgba(2, 0, 8, 0.801) solid;
    text-align: center;
    padding: 8px;
}

.card-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin: 64px 56px;
    a {
        text-decoration: none;
    }
}

.card1 {
    background-color: goldenrod;
    border-radius: 8px;
    padding: 24px 42px;
}

.card2 {
    background-color: goldenrod;
    border-radius: 8px;
    padding: 24px 42px;
}

.premios {
    margin: 0 auto; 
    width: 50%;
    text-align: center;
    h5 {
        margin: 16px;
    }
}

.formulario {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 12px 420px;
    border: solid 1px black;
}

#productos-container div img{
    width: 100%;
}

#productos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.card-producto:hover {
    translate: 0 -8px;
}

.card-producto {
    width: 350px;
    height: 350px;
    text-align: center;
    background-color: rgba(77, 170, 170, 0.862);
    transition: 200ms;
    img {
        padding: 16px 10px;
    }
    h3 { 
        padding: 4px;
        font-size: 20px;
        font-weight: bold;
    }
     button:hover {
        color: orange;
    }
    button {
        border-radius: 4px;
        padding: 3px 5px;
    }
}

@media (max-width: 480px) {
    .card-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

.formulario {
        margin: auto;
    }

.tabla {
        font-size: 12px;
}
}